@media (max-width: 93em) {
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .nav {
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: 600;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* hide nav */
    /* allows no transition */
    /* display: none; */

    /* 1st hide it visually */
    opacity: 0;

    /* 2nd make it unaccessible to mouse and keyboards*/
    pointer-events: none;

    /* 3rd hide it from screen readers */
    visibility: hidden;

    width: 0;
  }
  .nav-open .nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    width: 100%;
    transform: translateX(0);
  }
  .nav-list {
    flex-direction: column;
    gap: 10rem;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
  .nav-open::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
    filter: blur (10px);
    z-index: -1;
  }
  .nav-link:link,
  .nav-link:visited {
    color: #862e9c;
  }

  .nav-open .icon-mobile-nav {
    color: #862e9c;
  }
  .hero {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    place-items: center;
    padding-top: 10rem;
    margin-bottom: 15rem;
    gap: 15rem;
  }
  /* .skills-flx-con {
    width: 80%;
  } */
}
@media (max-width: 75em) {
  html {
    font-size: 62%;
  }
  .header {
    padding: 1rem 1rem;
  }
  .hero {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 5rem 1rem 10rem 1rem;
    margin-bottom: 2rem;
    height: 90rem;
    /* margin-top: 10rem; */
  }
  .hero-image {
    width: 25rem; /* Adjust the width as needed */
    height: 30rem;
  }
  .hero-wu {
    gap: 0.8rem;
  }
  .services {
    margin: 2rem 2rem;
  }
  .serv-flx-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  .skills-flx-con {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 3rem;
    width: 90%;
  }
  .skills-flx {
    padding: 1rem 2rem 0.5rem 2rem;
    gap: 1rem;
  }
  .footer-social-icon {
    height: 3rem;
    width: 3rem;
  }
  .footer-navlist {
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
  }
  .privacy {
    /* background-color: antiquewhite; */
    grid-column: 1 / 3;
  }
}
